/* feuille de style pour le site

*/
body {
  background: blue;
	font-family: "Comfortaa", sans-serif;
	position: relative;
}

header {
  display: block;
  color: blue;
  ;
}

header h1 {
  text-align: center;
}

header fieldset, header fieldset legend {
  border: none;}

header nav {
  display:block;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,400,700');

html {
  font-size:100%; // normally 16px
}

body {
  font-family: 'Open Sans', sans-serif;
  color: red;
  line-height: 1.6;
}


#menuprincipal ul {
	list-style-type: none; list-style-image: none;
  }
#menuprincipal li {display: inline; }
#menuprincipal ul li a {text-decoration:none;  margin: 4px;
	padding: 5px 20px 5px 20px; color: black;
}
#menuprincipal ul li a:hover {color: black;
	background: yellow; }

#legendemenuprincipal  {
  float:left;
}

fieldset {
  margin: 0px;
}

fieldset, legend {
    background-color: #eee;
    border-radius: 0px;
    }

legend {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
    font-weight: normal;
    font-style: italic;
    font-size: 1em;
    text-shadow: #fff 1px 1px 1px;
  }

#fieldsetcontent, #fieldsetcontent fieldset, #fieldsetcontent legend, .post, .entry fieldset,  .entry legend  {
  border: none;
}

#content > aside {
  float: right;
}

#fieldsetsidebar, #fieldsetsidebar legend {
  border: none;
}

footer fieldset, footer fieldset legend {
  border: none;
}

footer {
  display: block;
  text-align: center;
}
